.fbcontainer
  div(class="fb-page" data-width="500" data-href="https://www.facebook.com/kards.in" data-small-header="false" data-adapt-container-width="true" data-hide-cover="false" data-show-facepile="true" data-show-posts="true")
    div(class="fb-xfbml-parse-ignore")
      blockquote(cite="https://www.facebook.com/kards.in")
        a(href="https://www.facebook.com/kards.in") Kards - Creative Wedding Invitations