.footer
  .container
    .row
      hr
      ul.text-center
        li
          a(href="https://www.facebook.com/ramyaramaswamy89" title="Contact me through Facebook")
            i.fa.fa-facebook acebook
        li
          a(href="mailto:ramya@kards.in" title="Email me at ramya@kards.in")
            i.fa.fa-envelope  ramya@kards.in
