.footer
  .container
    .row
      hr
      .col-lg-5
      .col-lg-1
        a(href="https://www.facebook.com/ramyaramaswamy89")
          i.fa.fa-facebook
      .col-lg-1
        a(href="mailto:ramya@kards.in")
          i.fa.fa-envelope
