nav.navbar.navbar-default.clear-nav
  .container

    //- Navigation header - contains logo and toggle button
    .navbar-header
      //- Button that is shown on mobile to open/close navigation menu
      button.navbar-toggle.collapsed.toggle-button(type='button' data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar")
        span.sr-only Toggle Navigation
        span.icon-bar
        span.icon-bar
        span.icon-bar

      a.navbar-brand(href='/')
        img.logo(src="/img/logo.svg" alt="Kards.in - Custom Designed Indian Wedding Invitation")

    div.navbar-right.collapse.navbar-collapse#navbar
      ul.nav.navbar-nav
        li
          a(href="/" title="Kards.in Homepage") Home
        li
          a(href="/gallery" title="Gallery") Gallery
        li
          a(href="/how-it-works" title="How it works") How it works
        li
          a(href="/testimonials" title="Testimonials") Testimonials
        li
          a(href="/contact" title="Contact") Contact
.container
  .row
    .col-lg-4
      div(class="fb-like" data-href="https://www.facebook.com/kards.in" data-layout="standard" data-action="like" data-show-faces="false" data-share="true")

