.howitworks

  [class^="col-"]
    padding: 10px

  h3
    font-size: 18px
    font-weight: 600
    padding-bottom: 10px

  p
    font-size: 14px
    line-height: 24px

  .thumbnail
    // Rounded rectangle
    border: 0
    border-radius: 10px
    background-color: #f1ece4

    // Push content down to bottom of the div
    padding: 40px 0px 20px 0px

    img
      background-color: #f1ece4
      height: 100px
