.hero
  // Layout
  background: url("/img/hero.png") #eee
  border-radius: 0px

  // Text color for all element
  color: #453014

  img.elephant
    // Sizing the image
    height: 272px
    width: 204px

  h1
    font-size: 32px
    font-weight: 900

  h3
    font-size: 19px
    font-style: italic
    font-weight: 700
    margin-top: 10px

  .contact
    margin-top: 20px
    font-size:  15px

    label
      font-weight: 400

    input
      border-radius: 0
      border: 0

    button
      // Give the button some space on top
      margin-top: 20px

      // Text properties
      padding: 9px 15px
      color: white

      // Nice round button
      background-color: #453014
      border-radius: 8px
      border: 0
