.contact
  .container
    .row.top-buffer.double
      .col-md-1
      .col-md-5
        img(src="/img/ramya.jpg")
      .col-md-5
        p I am Ramya, the one at Kards who help visualize your ideas into "dream" invitations. I have dabbled with design ever since I was a kid. Designing invitation cards for wedding and birthday parties started as fun hobby and is now a professional venture. I love and thrive to create invitation cards that will stand out from the crowd and tell your story. If you have an idea that needs to be visualized, reach out to me. Let's together create that special card which will make you smile even after years.

    .row.top-buffer
      .col-md-1
      .col-md-5
        iframe#formtarget(name="formtarget", onload="if(submitted){window.location='signup/thankyou'}")
        form.text-center(action="https://docs.google.com/forms/d/1SInSr_psqGAGKcT7OyueH_qQqn31A0c-K2xeQb7PODY/formResponse" method="POST" id="ss-form" target="formtarget" onsubmit="submitted=true")
          div
            label.title(class="ss-q-item-label" for="entry_1716382692") Let's talk about your dream wedding invitation
          input.form-control(type="email" name="entry.1716382692" value="" placeholder='Email Address' class="ss-q-short" id="entry_1716382692" dir="auto" aria-label="Let's talk about your dream wedding invitation  Must be a valid email address" aria-required="true" required=true title="Must be a valid email address")
          input(type="hidden" name="draftResponse" value="[,,&quot;1376582943859711735&quot;]")
          input(type="hidden" name="pageHistory" value="0")
          input(type="hidden" name="fvv" value="0")
          input(type="hidden" name="fbzx" value="1376582943859711735")
          button.btn.btn-default(type="submit" name="submit" value="Submit" id="ss-submit" class="jfk-button jfk-button-action ") Submit

      .col-md-5
        h3.title.text-center Contact Me
        ul.text-center
          li
            a(href="https://www.facebook.com/kards.in" title="Contact me through Facebook")
              i.fa.fa-facebook acebook
          li
            a(href="mailto:ramya@kards.in" title="Email me at ramya@kards.in")
              i.fa.fa-envelope  ramya@kards.in

