.contact
  .container
    .row.top-buffer.double
      .col-md-1
      .col-md-5
        img(src="/img/ramya.jpg")
      .col-md-5
        p I am Ramya, the one at Kards who help visualize your ideas into "dream" invitations. I have dabbled with design ever since I was a kid. Designing invitation cards for wedding and birthday parties started as fun hobby and is now a professional venture. I love and thrive to create invitation cards that will stand out from the crowd and tell your story. If you have an idea that needs to be visualized, reach out to me. Let's together create that special card which will make you smile even after years.

    .row.top-buffer
      .col-md-1
      .col-md-5
        form(action="http://kards.us11.list-manage.com/subscribe/post?u=8bc29c3c12ddd669957cacf58&amp;id=1bcec3164e" method="post" id="mc-embedded-subscribe-form" name="mc-embedded-subscribe-form" target="_blank" novalidate)
          div.text-center
            label.title(for="mce-EMAIL") Leave me your contact
          input.form-control(name="EMAIL" id="mce-EMAIL" placeholder="Enter your email address")
          button(type='button') Submit

      .col-md-5
        h3.title.text-center Contact Me
        ul.text-center
          li
            a(href="https://www.facebook.com/ramyaramaswamy89" title="Contact me through Facebook")
              i.fa.fa-facebook acebook
          li
            a(href="mailto:ramya@kards.in" title="Email me at ramya@kards.in")
              i.fa.fa-envelope  ramya@kards.in

