.donate
  .container
    .row
      .col-md-12
        h1 Let's make a difference
        p We all know about the big fat spending on weddings. And wedding in today’s world can be a really expensive if one chooses to go for finest designer cloths, best photography, fancy venue decoration etc. Couples do all this to create an unforgettable experience. 
        p Can I do my part to add one more truly unforgettable experience in your wedding planning ? I ask you to DONATE the amount you would spend on designing your wedding invitation. In turn, I promise to commit my time and dedicated efforts in designing the invitation of your dreams.
        p
          | I am asking you to make the donation to&nbsp;
          a(href="http://www.prathamusa.org") Pratham&nbsp;
          | to support the right of every child to be educated in India.  Pratham does an amazing job through several programs. You can be assured your donation will be put to good use.
          | Please make the donation below

        p If your organization matches charitable donations, please contact them to match your donation to PrathamUSA. Pratham is a 501(c)(3) nonprofit organization in USA - Federal Tax ID # 76-0620808
    br
    br
    .row
      .col-md-4
      .col-md-3
        a(href="http://www.crowdrise.com" id="crowdriseStaticLink-fundraiser-376280" title="Fundraising Websites on Crowdrise") Fundraising Websites - Crowdrise
        script(type="text/javascript" src="https://www.crowdrise.com/widgets/donate/fundraiser/376280/")