.gallery
  .container
    h2.text-center Brand new in the shop
    .row.invitation#lovestory
      .col-md-1
      .col-md-5
        a(href="/img/invitation/lovestory.png")
          img(src="/img/invitation/lovestory.png" alt="Love story custom design indian wedding invitation")
      .col-md-4
        p.caption This card was designed for a couple who fell in love at first sight. Yep ! Just like in movies. Their invite shows how they met for the first time at their work place and dreamt about being together for a lifetime.

    .row.invitation#heroheroine
      .col-md-1
      .col-md-5
        a(href="/img/invitation/heroheroine.png")
          img(src="/img/invitation/heroheroine.png" alt="Personally designed custom indian wedding invitation")
      .col-md-4
        p.caption How do two very different people get along so well ? This couple is an example for that. He is an introvert, while the girl can befriend even a stranger on the road. This card was designed to highlight few differences that brought them together.

    .row.invitation#kingqueen
      .col-md-1
      .col-md-5
        a(href="/img/invitation/kingqueen.png")
          img(src="/img/invitation/kingqueen.png" alt="King Queen style personal custom designed indian wedding invitation")
      .col-md-4
        p.caption Playing card themed wedding invitation for a fun couple. King and Queen of hearts are all set to start the game !

    .row.invitation#peacock
      .col-md-1
      .col-md-5
        a(href="/img/invitation/peacock.png")
          img.potrait(src="/img/invitation/peacock.png" alt="Elegant peacock style personal custom designed indian wedding invitation")
      .col-md-4
        p.caption Playing card themed wedding invitation for a fun couple. King and Queen of hearts are all set to start the game !