.howitworks
  .container
    .row.top-buffer
      h2 How to get started?
      .col-md-4
        h3.text-center Tell me your dream
        .thumbnail
          img(src="/img/howitworks/brainstorm.png")
        p Reach out to us with your ideas. Let us talk about what that special card looks like for you

      .col-md-4
        h3.text-center Visualize Ideas
        .thumbnail
          img(src="/img/howitworks/design.png")
        p Invitation comes alive. Don't worry, you will have ample time to iterate on the design

      .col-md-4
        h3.text-center Invite Loved Ones
        .thumbnail
          img(src="/img/howitworks/share.png")
        p Yes, it is now time for you to share the invite on social media, email or print copies

    .row.top-buffer.whatyouget
      h2 What you will get?
      .col-md-1
      .col-md-5
        h3.text-center Print friendly version
        img(src="/img/invitation/card.jpg")
        p A version of the invite suitable for printing and matching cover design for envelope
      .col-md-6
        h3.text-center Social media friendly version
        img.facebook(src="/img/invitation/facebook.jpg")
        p A version of the invite suitable to be shared in an email invite and in social media, be it a Facebook cover pic, Whatsapp or any other

