.howitworks
  .container
    .row.top-buffer
      h2 How to get started?
      .col-md-4
        h3.text-center Tell me your dream
        .thumbnail
          img(src="/img/howitworks/brainstorm.png")
        p Reach out to us with your ideas. Let us talk about what that special card looks like for you

      .col-md-4
        h3.text-center Visualize Ideas
        .thumbnail
          img(src="/img/howitworks/design.png")
        p Invitation comes alive. Don't worry, you will have ample time to iterate on the design

      .col-md-4
        h3.text-center Invite Loved Ones
        .thumbnail
          img(src="/img/howitworks/share.png")
        p Yes, it is now time for you to share the invite on social media, email or print copies
