.container

  //- Hero section
  .jumbotron.hero
    .row
      .col-lg-10.col-sm-8
        h1 Custom Designed Wedding Invitations
        h2 Create an unique invitation for your dream wedding

        .row
          form.col-lg-5.contact(action="http://kards.us11.list-manage.com/subscribe/post?u=8bc29c3c12ddd669957cacf58&amp;id=1bcec3164e" method="post" id="mc-embedded-subscribe-form" name="mc-embedded-subscribe-form" target="_blank" novalidate)
            label(for="mce-EMAIL") Let's talk about your dream invitation !
            input.form-control(name="EMAIL" id="mce-EMAIL" placeholder="Enter your email address" required)
            button.btn.btn-default(type='submit') Submit

      .col-lg-2.col-sm-4.hidden-xs
        img.elephant(src="/img/elephant.png")


  //- Recent work
  .row
    .showcase
      h3 Recent Work

    .col-lg-4
      a.thumbnail(href="/gallery#lovestory")
        img.image(src="/img/invitation/lovestory.png" alt="")
    .col-lg-4
      a.thumbnail(href="/gallery#heroheroine")
        img.image(src="/img/invitation/heroheroine.png" alt="")
    .col-lg-4
      a.thumbnail(href="/gallery#kingqueen")
        img.image(src="/img/invitation/kingqueen.png" alt="")
