.container

  //- Hero section
  .jumbotron.hero
    .row
      .col-lg-10.col-sm-8
        h1 Personal Indian Wedding Invitation
        h3 Create your dream invitation for your dream wedding

        .row
          form.col-lg-5.contact
            label(for="email") Let's talk about your dream invitation !
            input.form-control(id="email", placeholder="Enter your email address")
            button.btn.btn-default(type='button') Submit

      .col-lg-2.col-sm-4.hidden-xs
        img.elephant(src="/img/elephant.png")


  //- Recent work
  .row
    .showcase
      h2 Recent Work

    .col-lg-4
      a.thumbnail(href="/gallery#lovestory")
        img.image(src="/img/invitation/lovestory.png" alt="")
    .col-lg-4
      a.thumbnail(href="/gallery#heroheroine")
        img.image(src="/img/invitation/heroheroine.png" alt="")
    .col-lg-4
      a.thumbnail(href="/gallery#kingqueen")
        img.image(src="/img/invitation/kingqueen.png" alt="")
