.container

  //- Hero section
  .jumbotron.hero
    .row
      .col-lg-10.col-sm-8
        h1 Custom Designed Wedding Invitations
        h2 Create an unique invitation for your dream wedding

        .row
          iframe#formtarget(name="formtarget", onload="if(submitted){window.location='signup/thankyou'}")
          form.col-lg-5.contact(action="https://docs.google.com/forms/d/1SInSr_psqGAGKcT7OyueH_qQqn31A0c-K2xeQb7PODY/formResponse" method="POST" id="ss-form" target="formtarget" onsubmit="submitted=true")
            label(class="ss-q-item-label" for="entry_1716382692") Let's talk about your dream wedding invitation !
            input.form-control(type="email" name="entry.1716382692" value="" placeholder='Email Address' class="ss-q-short" id="entry_1716382692" dir="auto" aria-label="Let's talk about your dream wedding invitation  Must be a valid email address" aria-required="true" required=true title="Must be a valid email address")
            input(type="hidden" name="draftResponse" value="[,,&quot;1376582943859711735&quot;]")
            input(type="hidden" name="pageHistory" value="0")
            input(type="hidden" name="fvv" value="0")
            input(type="hidden" name="fbzx" value="1376582943859711735")
            button.btn.btn-default(type="submit" name="submit" value="Submit" id="ss-submit" class="jfk-button jfk-button-action ") Submit
      .col-lg-2.col-sm-4.hidden-xs
        img.elephant(src="/img/elephant.png")


  //- Recent work
  .row
    .showcase
      h3 Recent Work

    .col-lg-4
      a.thumbnail(href="/gallery#lovestory")
        img.image(src="/img/invitation/lovestory.png" alt="")
    .col-lg-4
      a.thumbnail(href="/gallery#heroheroine")
        img.image(src="/img/invitation/heroheroine.png" alt="")
    .col-lg-4
      a.thumbnail(href="/gallery#kingqueen")
        img.image(src="/img/invitation/kingqueen.png" alt="")
