.samples
  .container
    h2.text-center Browse all our designs

    .row.invitation
      h4 Trendy Designs
      .col-sm-1
      .col-sm-5
        a.thumbnail(href="/img/invitation/boardingpass.png")
          img.image(src="/img/invitation/boardingpass.png" alt="Boarding pass themed wedding invitation. This quirky wedding invitation is fun way of inviting people to join your wedding celebrations.")
          p.caption Boarding pass themed wedding invitation. The couple wanted a "Boarding pass" to invite all their friends in the US to join their wedding celebrations in India. This quirky wedding invitation is fun way of inviting people to join your wedding celebrations.
      .col-sm-5
        a.thumbnail(href="/img/invitation/whatsapp.png")
          img.image(src="/img/invitation/whatsapp.png" alt="Whatsapp themed wedding invitation")
          p.caption Marriages these days are not entirely made in heaven, it is partly made through Whatsapp.

    .row.invitation
      h4 Minion Theme
      .col-sm-1
      .col-sm-5
        a.thumbnail(href="/img/invitation/minionfront.png")
          img.image(src="/img/invitation/minionfront.png" alt="Minion themed wedding invitation")
          p.caption This card explains the story of the couple using fun and animated minion characters. Minions were hand-drawn specifically for this invite.
      .col-sm-5
        a.thumbnail(href="/img/invitation/minionback.png")
          img.image(src="/img/invitation/minionback.png" alt="Minion themed wedding invitation")
          p.caption Elegant yet fun minion themed wedding invitation.

    .row.invitation
      h4 Designs to show your personality
      .col-sm-1
      .col-sm-5
        a.thumbnail(href="/img/invitation/classy.png")
          img.image(src="/img/invitation/classy.png" alt="Trendy wedding invitation")
          p.caption Wedding card illustrating the couple's love story starting from their first meeting at college to travelling the world.
      .col-sm-5
        a.thumbnail(href="/img/invitation/chess.png")
          img.image(src="/img/invitation/chess.png" alt="Chess themed wedding invitation")
          p.caption This personalized card brings out the personalities of bride who is a violinist and the groom who is a chess player.

    .row.invitation
      h4 Travel theme
      .col-sm-1
      .col-sm-5
        a.thumbnail(href="/img/invitation/nationalpark.png")
          img.image(src="/img/invitation/nationalpark.png" alt="National park themed wedding invitation")
          p.caption Wedding invitation for a couple who likes to travel to wilderness in national parks.
      .col-sm-5
        a.thumbnail(href="/img/invitation/traveltheme.png")
          img.image(src="/img/invitation/traveltheme.png" alt="Travel themed wedding invitation")
          p.caption Wedding invitation for a couple who likes to visit every country in the world

    .row.invitation
      h4 Designs to tell your story
      .col-sm-1
      .col-sm-5
        a.thumbnail(href="/img/invitation/lovestory.png")
          img.image(src="/img/invitation/lovestory.png" alt="Love story custom design indian wedding invitation")
          p.caption This card was designed for a couple who fell in love at first sight. Yep ! Just like in movies. Invite shows their first meeting and their dreams about being together for a lifetime

      .col-sm-5
        a.thumbnail(href="/img/invitation/rulednotebook.png")
          img.image(src="/img/invitation/rulednotebook.png" alt="Ruled notebook themed wedding invitation for childhood sweethearts")
          p.caption A super cute wedding invitation for childhood sweethearts who ended up getting married. The invitation was set in a ruled notebook background with simple, yet elegant handwritten fonts to go with the theme. That certainly was a happily ever after.

    .row.invitation
      h4 Game Theme
      .col-sm-1
      .col-sm-5
        a.thumbnail(href="/img/invitation/monopoly.png")
          img.image(src="/img/invitation/monopoly.png" alt="Monopoly game themed personal custom designed wedding invitation")
          p.caption Board game themed invite ! Oh yeah, a game lasting for a life time starts :-)
      .col-sm-5
        a.thumbnail(href="/img/invitation/scrabble.png")
          img.image(src="/img/invitation/scrabble.png" alt="Scrabble themed wedding invitation")
          p.caption Scrabble themed "Save the Date" invitation for a couple who first got introduced to each other for a game of Scrabble. Life plays games

    .invitation
      .row
        h4 Fun Designs
        .col-sm-1
        .col-sm-5
          a.thumbnail(href="/img/invitation/tambram.png")
            img.image(src="/img/invitation/tambram.png" alt="Tamil Brahmin styled personal custom designed wedding invitation")
            p.caption TamBrahm style social media invite designed for an awesome couple. The design was carefully done to show capture TamBrahm wedding traditions.
        .col-sm-5
          a.thumbnail(href="/img/invitation/tr.png")
            img.image(src="/img/invitation/tr.png" alt="TR, Sam Anderson and Power Star blessing the couple style custom designed wedding invitation")
            p.caption Famous/Infamous Tamil Movie stars + "Local" village wedding posters = this invitation! Bringing out the essence of today's Tamil movie culture with TR style punch dialogues. This invitation was designed for the bride who enjoys tamil movie comedies.
      .row
        .col-sm-1
        .col-sm-5
          a.thumbnail(href="/img/invitation/heroheroine.png")
            img.image(src="/img/invitation/heroheroine.png" alt="Personally designed custom indian wedding invitation")
            p.caption How do two different people get along so well ? He is an introvert, while she can befriend even a stranger on the road. The card was designed to highlight the unique traits that brought them together
        .col-sm-5
          a.thumbnail(href="/img/invitation/kingqueen.png")
            img.image(src="/img/invitation/kingqueen.png" alt="King Queen style personal custom designed indian wedding invitation")
            p.caption Playing card themed wedding invitation for a fun couple. King and Queen of hearts are all set to start the game !

    .invitation
      .row
        h4 Classy Designs
        .col-sm-1
        .col-sm-5
          a.thumbnail(href="/img/invitation/betterpeacock.png")
            img.image(src="/img/invitation/betterpeacock.png" alt="Classy looking peacock invitation with a detailed border with a color scheme choosen to bring make the card look exquisite")
            p.caption Classy looking peacock invitation with a detailed border with a color scheme choosen to bring make the card look exquisite
        .col-sm-5
          a.thumbnail(href="/img/invitation/peacock.png")
            img.image.potrait(src="/img/invitation/peacock.png" alt="Elegant peacock style personal custom designed indian wedding invitation")
            p.caption A simple, yet elegant peacock wedding invitation. Golden background added a festive touch to the card

      .row
        .col-sm-1
        .col-sm-5
          a.thumbnail(href="/img/invitation/beemarathasanthi.jpg")
            img.image(src="/img/invitation/beemarathasanthi.jpg" alt="Manja Patrikai has taken a different form in this invitation. It retains the authentic look, yet brings in creativity and makes it look fresh. This card was designed like a scroll from the olden days")
            p.caption "Manja Patrikai" has taken a different form in this invitation. It retains the authentic look, yet brings in creativity and makes it look fresh. This card was designed like a scroll from the olden days
        .col-sm-5
          a.thumbnail(href="/img/invitation/radhekrishna.png")
            img.image(src="/img/invitation/radhekrishna.png" alt="Radhe Krishna save the date card")
            p.caption A modern, yet traditional "Save the Date" card. This card shows the couple's common interest in music and also highlights their personality that brought them together. Design Inspiration : Iskcon images


