.testimonials
  .container
    .header.text-center
      h2 What are people saying about Kards?
      h3 Happy customers make us happy

    .row.padded
      .col-lg-2
        a.thumbnail(href="/gallery#tambram")
          img.image(src="/img/invitation/tambram.png" alt="")
      .col-lg-10.caption
        b Unique and has a personal touch
        p I am really happy for the invite design done by Ramya. Such a talented person! she executed the idea which I told, within a day's time and I was very happy with the invitation. She has designed it in a way that is unique and has a personal touch. I will surely recommend her to my friends and family. Thank you again :-)
        em - Prasanna Vadhana

    .row.padded
      .col-lg-2
        a.thumbnail(href="/gallery#lovestory")
          img.image(src="/img/invitation/lovestory.png" alt="")
      .col-lg-10.caption
        b Wonderful Illustrations that conveyed my story
        p Ramya did an awesome job with my wedding invite. I explained my requirements to her and she made wonderful illustrations that conveyed my story. Thanks Ramya for getting us a unique invitation.
        em - Varsha
