nav.navbar.navbar-default.clear-nav
  .container

    a.navbar-brand.navbar-right(href='/')
      | Designed By
      img.logo(src="/img/logo.svg" alt="Kards.in - Custom Designed Indian Wedding Invitation")

    .text-center
      h3
        span Ujwala Ramesh
        span.text-info  Weds
        span  Ravi Kumar B L
      h4.text-muted at Balan Farms

.map.fullheight
    iframe(src="https://www.google.com/maps/embed/v1/place?key=AIzaSyCVyimNa3K19nPCx7YltQntUlVxkIESpCA&q=place_id:ChIJb5CMdjgVrjsRw8RYUidk0PA" width="100%" height="100%" frameborder="0" style="overflow:hidden;height=100%;width=100%;border:0" allowfullscreen)
